<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Ninjas</title>
    <link rel="stylesheet" th:href="@{/css/listar.css}">
</head>
<body>
<h1>Lista de ninjas</h1>
<div th:if="${mensagem}" class="mensagem" th:text="${mensagem}"></div>

<div class="botao-adicionar">
    <form th:action="@{/ninjas/ui/adicionar}" method="get">
        <button type="submit" class="btn-adicionar">+ Adicionar Ninja</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Imagem</th>
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missões</th>
        <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja: ${ninjas}">
        <td data-label="ID" th:text="${ninja.id}"></td>

        <td data-label="Imagem">
            <img th:src="${ninja.imgUrl}" width="80" height="80" style="object-fit: cover; border-radius: 50%;">
        </td>

        <td data-label="Nome" th:text="${ninja.nome}"></td>
        <td data-label="Idade" th:text="${ninja.idade}"></td>
        <td data-label="Email" th:text="${ninja.email}"></td>
        <td data-label="Rank" th:text="${ninja.rank}"></td>

        <td data-label="Missões">
            <span th:if="${ninja.missoes}">
                <span th:text="${ninja.missoes.nome}"></span> (<span th:text="${ninja.missoes.dificuldade}"></span>)
            </span>
            <span th:if="${ninja.missoes == null}">Sem Missões</span>
        </td>

        <td data-label="Ações">
            <div class="acoes-container">
                <form th:action="@{/ninjas/ui/listar/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                    <button type="submit" class="btn-detalhes">Detalhes</button>
                </form>
                <form th:action="@{/ninjas/ui/alterar/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                    <button type="submit" class="btn-alterar">Alterar</button>
                </form>
                <form th:action="@{/ninjas/ui/delete/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                    <button type="submit" class="btn-deletar">Deletar</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>