<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lista de Ninjas</title>
    <link rel="stylesheet" th:href="@{/css/listar.css}">
</head>
<body>
<h1>Lista de ninjas</h1>
<div th:if="${mensagem}" class="mensagem" th:text="${mensagem}"></div>

<div class="botao-adicionar">
    <form th:action="@{/ninjas/ui/adicionar}" method="get">
        <button type="submit" class="btn-adicionar">+ Adicionar Ninja</button>
    </form>
</div>

<table>
    <thead>
    <tr>
        <th>ID</th>
<!--        <th>Imagem</th>-->
        <th>Nome</th>
        <th>Idade</th>
        <th>Email</th>
        <th>Rank</th>
        <th>Missões</th>
        <th>Ações</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="ninja: ${ninjas}">
        <td th:text="${ninja.id}"></td>
        <td><img th:src="${ninja.imgUrl}" width="100" height="100"></td>
        <td th:text="${ninja.nome}"></td>
        <td th:text="${ninja.idade}"></td>
        <td th:text="${ninja.email}"></td>
        <td th:text="${ninja.rank}"></td>
        <td>
            <span th:if="${ninja.missoes}">Nome: <span th:text="${ninja.missoes.nome}"></span>, Dificuldade: <span th:text="${ninja.missoes.dificuldade}"></span></span>
            <span th:if="${ninja.missoes == null}">Sem Missões cadastradas</span>
        </td>
        <td>

            <form th:action="@{/ninjas/ui/listar/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                <button type="submit" class="btn-detalhes">Detalhes</button>
            </form>
            <form th:action="@{/ninjas/ui/alterar/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                <button type="submit" class="btn-alterar">Alterar</button>
            </form>
            <form th:action="@{/ninjas/ui/delete/{id}(id=${ninja.id})}" method="get" style="display: inline;">
                <button type="submit" class="btn-deletar">Deletar</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>